body {
    background-color: #f5f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container principal */
.allContent {
    background: #ffffff;
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 320px;
}

/* Título */
.allContent h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Labels */
label {
    display: block;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
    margin-top: 10px;
}

/* Inputs */
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: all 0.3s ease;
}

/* Efeito ao focar */
input[type="text"]:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.3);
}

/* Botões */
button {
    width: 100%;
    padding: 8px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 12px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #357ab8;
}

/* Resultados */
p {
    background: #f0f0f0;
    padding: 6px;
    border-radius: 6px;
    font-size: 14px;
    word-wrap: break-word; /* Faz o texto quebrar linha automaticamente */
    white-space: pre-wrap; /* Garante que o texto quebre certinho */
    margin-bottom: 10px;
}

.wall {
    background-color: #f5f7fa;
    padding: 0.05px 5px;
}

.leftBar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    background-color: #4a90e2;
    overflow-x: hidden;
    transition: width 0.3s;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.leftBar a img {
  width: 24px;   /* largura fixa */
  height: 24px;  /* altura fixa */
  object-fit: contain; /* mantém proporção */
  vertical-align: middle; /* alinha com o texto */
  padding: 5px 15px;
}

.popup {
    position: fixed; /* Fixa o elemento na tela */
    bottom: 20px;    /* Distância do canto inferior da tela */
    right: 20px;     /* Distância do canto direito da tela */
    background-color: rgba(155, 240, 106, 0.89); /* Cor de fundo, opcional */
    /*color: white;    /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas, opcional */
    box-shadow: 0 4px 8px  rgba(155, 240, 106, 0.89); /* Sombra opcional */
    z-index: 1000; /* Garante que o elemento fique acima de outros */   
    display: none;
}

.popup p {
    background-color:  rgba(155, 240, 106, 0.89) ;
}